<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            SAM Chat
        </title>
    </head>
    <body>
    <br />
        <br />
        <br />
        <h3 align="center">
            Welcome to Chat Bot Local Testing
        </h3>
        <br />
        <br />
        <br />

    <p align="center">
                Enter Your Query...<br>
        </p>
                <form action="/" method="post">
                    <p align="center">
                        <input type="text" name="first_name" size="50">
                        <br />
                        <br />
                        <input type="submit" name= "form" value="Submit">
                    </p>
                </form>
    </body>
</html>